<template>
<div id="page">
  <div
    class="blog_details content_layout"
    v-if="blog"
  >
    <Breadcrumbs 
      :list=" breadcrumbs"
    />
    
    <div>
      <h1 class="global_title">{{ blog.title.rendered }}</h1>
      <!--content-->
      <span v-html="blog.content.rendered">
      </span>
    </div>
  </div>
  <PageMaket
      v-else
  />
</div>
</template>
<script>
import Breadcrumbs from '../components/layout/Breadcrumbs.vue'
import PageMaket from '../components/PageMaket.vue'
import { RouteName } from '../router/utils'
export default {
  components: { Breadcrumbs, PageMaket },
  name: 'BlogDetails',
  inject: ['pageApiService', 'productService'],
  data () {
    return {
      blog: false
    }
  },
  mounted () {
    this.productService.scrollPageTop('scroll_top')
    this.getData(this.$route.params.id)
  },
  computed: {
    breadcrumbs () {
      if (!this.blog) {
        return false
      }
      return  [
        {
          title: "Главная",
          url: RouteName.Home
        },
        {
          title: 'Блог',
          url: RouteName.Blog
        },
        {
          title: this.blog.title.rendered
        }
      ]
    },
  },
  //метаданные
  metaInfo() {
    if(this.blog) {
      return {
        title: this.blog.yoast_head_json.title,
        meta: [{
          description: this.blog.yoast_head_json.title
        }]
      }
    }
  },
  methods: {
    getData(id) {
      this.pageApiService.getPageById(id).then((response) => {
        this.blog = response.data
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .blog_details {
    padding: 0 30px;
    min-height: 500px;


    h1 {
      padding-top: 0;
    }

    img {
      width: 50%;
    }
  }
</style>