<template>
  <div 
    id="page"
  >
    <div 
      class="recipes_details content_layout"
      v-if="data"
    >
      <Breadcrumbs
        :list="breadcrumbs"
      />
      <h1 class="global_title">
        {{ data.title.rendered }}
      </h1>
      <div
        v-html="data.content.rendered"
      />
    </div>
    <PageMaket
      v-else
    />
  </div>
</template>
<script>
import Breadcrumbs from '../components/layout/Breadcrumbs.vue'
import PageMaket from '../components/PageMaket.vue'
import { RouteName } from '../router/utils'
export default {
  components: { Breadcrumbs, PageMaket },
  name: 'RecipesDetails',
  inject: ['pageApiService', 'productService'],
  data () {
    return {
      data: false
    }
  },
  mounted () {
    this.productService.scrollPageTop('scroll_top')
    this.getData(this.$route.params.id)
  },
  computed: {
    breadcrumbs () {
      if (!this.data) {
        return false
      }
      return  [
        {
          title: "Главная",
          url: RouteName.Home
        },
        {
          title: 'Рецепты',
          url: RouteName.Recipes
        },
        {
          title: this.data.title.rendered
        }
      ]
    },
  },
  //метаданные
  metaInfo() {
    if(this.data) {
      return {
        title: this.data.yoast_head_json.title,
        meta: [{
          description: this.data.yoast_head_json.title
        }]
      }
    }
  },
  methods: {
    getData (id) {
      this.pageApiService.getPageById(id).then((response) => {
        this.data = response.data
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .recipes_details {
    padding: 0 30px;
    width: 100%;
    min-height: 500px;

    .global_title {
      margin-top: 0;
      padding-top: 0;
    }

  }

  img {
    width: 200px !important; 
  }
</style>