<template>
  <div 
    class="recipes content_layout"
    id="page"
  >
    <Breadcrumbs 
      :list="breadcrumbs"
    />
    <h1
      class="global_title"
      v-if="parent"
    >
        {{ parent.title.rendered }}
    </h1>
    <RecipesList
      v-if="recipesList.length > 0"
      :list="recipesList"
      :max="'all'"
    />
    <RecipesMaket
      v-else
      :max="6"
    />
  </div>
</template>
<script>

/* import components */
import RecipesList from '@/components/RecipesList.vue'
import { RouteName } from '../router/utils'
import Breadcrumbs from '../components/layout/Breadcrumbs.vue'
import RecipesMaket from '../components/RecipesMaket.vue'

export default {
  name: 'Recipes',
  inject: ['pageApiService', 'productService'],
  components: {
    RecipesList,
    Breadcrumbs,
    RecipesMaket
  },
  mounted () {
    this.getParent('receipes')
  },
  data () {
    return {
      recipesList: [],
      parent: false
    }
  },
  computed: {
    breadcrumbs () {
      return  [
        {
          title: "Главная",
          url: RouteName.Home
        },
        {
          title: 'Рецепты'
        }
      ]
    },
  },
  //метаданные
  metaInfo() {
    if(this.parent) {
      return {
        title: this.parent.yoast_head_json.title,
        meta: [{
          description: this.parent.yoast_head_json.title
        }]
      }
    }
  },
  methods: {
    getParent (slug) {
      this.pageApiService.getParentBySlug(slug).then((response) => {
        this.parent = response.data.find(item => item.slug == slug)
        
        if (!this.parent) {
          return false
        }

        this.getList(this.parent.id)
      })
    },
    getList (parentId) {
      this.pageApiService.getPagesByParentId(parentId, 20).then((response) => {
        this.recipesList = response.data

      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .recipes {
    padding: 0 30px;   
    box-sizing: border-box;
    min-height: 500px;


    h1 {
      padding-top: 0px;
    }
  }
</style>
