<template>
  <div
    id="page"
  >
    <div 
      class="reviews content_layout"
      v-if="data"
    >
      <Breadcrumbs 
        :list="breadcrumbs"
      />
      <h1 class="global_title">
        {{ data.title.rendered }} 
      </h1>
      <div 
        class="reviews_content"
        v-html="data.content.rendered"
      >
      </div>
    </div>
    <PageMaket
      v-else
    />
  </div>
</template>
<script>
import { RouteName } from '../router/utils'

/* import components */
import Breadcrumbs from '@/components/layout/Breadcrumbs.vue'
import PageMaket from '../components/PageMaket.vue'

export default {
  name: 'Reviews',
  inject: ['pageApiService', 'productService'],
  components: {
    Breadcrumbs,
    PageMaket
  },
  data () {
    return {
      data: false
    }
  },
  mounted () {
    this.getData('reviews')
  },
  computed: {
    breadcrumbs () {
      if (!this.data) {
        return false
      }
      
      return  [
        {
          title: "Главная",
          url: RouteName.Home
        },
        {
          title: this.data.title.rendered
        }
      ]
    },
  },
  //метаданные
  metaInfo() {
    if(this.data) {
      return {
        title: this.data.yoast_head_json.title,
        meta: [{
          description: this.data.yoast_head_json.title
        }]
      }
    }
  },
  methods: {
    getData (slug) {
      this.pageApiService.getParentBySlug(slug).then((response) => {
        this.data = response.data.find(item => item.slug == slug)
      })
    }
  }
}
</script>
<style lang="scss" scoped>
  .reviews {
    padding: 0 30px;
    width: 100%


    h1 {
      padding-top: 0;
    }
  }
</style>