<template>
  <div>
    <img :src="product.images[0].src" >
  </div>
</template>
<script>
export default {
  name: 'ItemTest',
  props: {
    product: {
      type: [Array, Object, Boolean],
      required: true
    }
  }
}
</script>