<template>
   <div class="order">
    <div class="order_list">
      <div 
        class="order_list-item"
        v-for="item in list"
        :key="item.key"
      >
        <div class="order_list-item-left">
          <span class="name">
            {{ item.name }}
          </span>
          <span class="material-icons icon">
            close
          </span>
          <span class="count">
            {{ item.selected_volume }}
          </span>
        </div>
        <div class="order_list-item-right">
          <span class="sum">
            {{ item.price * item.selected_volume }},00
          </span>
        </div>
      </div>
    </div>
    <div class="order_subtotal">
      <div class="order_subtotal-left">
        Подытог
      </div>
      <div class="order_subtotal-right">
        {{ cartSum }},00
      </div>
    </div>
    <div class="order_delivery">
      <div class="order_delivery-left">
        Доставка
      </div>
      <div class="order_delivery-right">
        {{ deliverySum }},00
      </div>
    </div>
    <div class="order_total">
      <div class="order_total-left">
        Итого
      </div>
      <div class="order_total-right">
        {{ resultSum }},00
      </div>
   </div>
</template>
<script>
export default {
  name: 'OrderProductList'
}
</script>