<template>
  <div 
    class="slider"
    :class="{'slider_bonus-active': activeSlide == 'bonus'}"
  >
    <div 
        class="slider_arrows"
    >
        <div 
          class="slider_arrows_prev"
          @click="changeImage"
        >
          <span class="material-icons">
            arrow_forward_ios
          </span>
        </div>
        <div 
          class="slider_arrows_next"
          @click="changeImage"
        >
          <span class="material-icons">
            arrow_forward_ios
          </span>
        </div>
    </div>

      <div 
        class="slider_image"
        :class="{'slider_active': activeSlide == 'banner'}"
      >
        <img 
          :src="require(`@/assets/images/banner.png`)" 
          class="slider_image-desktop"
          v-if="!displayMobileSize"
        />
        <img 
          :src="require(`@/assets/images/banner_mobile.png`)" 
          class="slider_image-mobile"
          v-else
        />

        <!--title-->
        <div 
          class="slider_title"
        >
          <div class="slider_image-title-top">
            Бесплатная доставка по г.Москва и г.Химки при заказе от 3000 руб.
          </div>

          <div class="slider_image-title-bottom">
            Домашнее мясо высшего качества с собственного подсобного хозяйства
          </div>
        </div>

          <!---list-->
        <div 
          class="slider_list"
        >
          <div 
            class="slider_list-item"
            :class="{ 'slider_list-item-active': item == activeSlide}"
            v-for="(item, index) in list"
            :key="index"
            @click="changeImage()"
          >
            
          </div>
        </div>
      </div>
      
      <div 
        class="slider_image"
        :class="{'slider_active': activeSlide == 'banner'}"
      >
        <img 
          :src="require(`@/assets/images/banner.png`)" 
          class="slider_image-desktop"
          v-if="!displayMobileSize"
        />
        <img 
          :src="require(`@/assets/images/banner_mobile.png`)" 
          class="slider_image-mobile"
          v-else
        />

        <!--title-->
        <div 
          class="slider_title"
        >
          <div class="slider_image-title-top">
            Бесплатная доставка по г.Москва и г.Химки при заказе от 3000 руб.
          </div>

          <div class="slider_image-title-bottom">
            Домашнее мясо высшего качества с собственного подсобного хозяйства
          </div>
        </div>

          <!---list-->
        <div 
          class="slider_list"
        >
          <div 
            class="slider_list-item"
            :class="{ 'slider_list-item-active': item == activeSlide}"
            v-for="(item, index) in list"
            :key="index"
            @click="changeImage()"
          >
            
          </div>
        </div>
      </div>

      <!--картинка бонуса--->
      <div 
        class="slider_bonus"
        :class="{'slider_active': activeSlide == 'bonus'}"
      >
        <img
          :src="require(`@/assets/images/present.png`)"
          class="slider_image-desktop"
          v-if="!displayMobileSize"
        >

        <img
          :src="require(`@/assets/images/bonus_mobile.png`)"
          class="slider_image-mobile"
          v-else
        >

          <!---list-->
        <div 
          class="slider_list"
        >
          <div 
            class="slider_list-item"
            :class="{ 'slider_list-item-active': item == activeSlide}"
            v-for="(item, index) in list"
            :key="index"
            @click="changeImage(item)"
          >
            
          </div>
        </div>
      </div>
  </div>
</template>
<script>
export default {
  name: 'Slider',
  data () {
    return {
      activeSlide: 'banner',
      first: 0,
      displayMobileSize: false,
      list: [
        'banner',
        'bonus'
      ]
    }
  },
  props: {
    images: {
      type: [Object, Array, Boolean],
      required: true
    },
    effect: {
      type: String,
      default: 'fade'
    },
    auto: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    size () {
      return this.images.length
    }
  },

  mounted () {
    this.changeImageInterval()
    this.examinationSizeDisplay()
  },

  methods: {
    changeImageInterval () {
        setInterval(() => {
          this.changeImage()
        }, 10000000);
    },
    
    changeImage () {
     if (this.activeSlide == 'bonus') {
        this.activeSlide = 'banner'
      } else {
        this.activeSlide = 'bonus'
      }

      this.$forceUpdate()
    },

    examinationSizeDisplay () {
      var maxWidth = window.matchMedia("(max-width: 500px)")
      
      this.displayMobileSize = maxWidth.matches ? true : false
    }
  }
}
</script>
<style lang="scss" scoped>
  .slider {
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 200px;

    &_image-mobile {
      @media(min-width: 500px) {
        display: none;
      }
    }

    &_image-desktop {
      @media(max-width: 500px) {
        display: none;
      }
    }


    @media (min-width: 1650px) {
      min-width:900px;
    }

    &_bonus-active {

      @media(max-width: 750px) {
        min-height: 200px;
      }
    }
    
    &_title {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_arrows {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: #fff;
      font-size: 30px;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      align-items: center;
      z-index: 2;
      
      @media (max-width: 500px) {
        margin-top: 45px;
      }


      &_prev, &_next {
        background-color: rgba(51, 51, 51, 0.7);
        padding: 20px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: -50px;
        transition: all 0.5s;
       
        &:hover {
           background-color: rgba(255, 255, 255, 0.8);
           color: #b12a2f;
        }

        span {
          font-weight: 500;
          font-size: 25px;
        }
      }

      &_prev {
        transform: rotate(180deg);
      }
    }
    
    &_active {
      opacity: 1 !important;
    }

    &_bonus {
      opacity: 0;
      height: 100%;
    }
    &_image {
      position: absolute;
      transition: opacity 1s;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      height: 100%;
      opacity: 0;

      &-title-top {
          background-color: rgba(255, 255, 255, 0.8);
          padding: 8px 20px;
          text-align: center;
          font-style: italic;
          margin-top: 25px;
          width: 100%;
          box-sizing: border-box;
          display: inline-block;
      }

      &-title-bottom {
        background-color: rgba(51, 51, 51, 0.7);
        padding: 40px 30%;
        text-align: center;
        color: #fff;
        font-size: 25px;
        margin-bottom: 60px;

        @media (max-width: 950px){ 
          padding: 20px 0;
        }

        @media (max-width: 700px) {
          font-size: 20px;
        }
        @media (max-width: 600px) {
          display: none;
        }
      }
    }

    &_list{
      width: 100%;
      display: flex;
      z-index: 5;
      position: absolute;
      bottom: 20px;
      justify-content: center;
      align-items: center;

      &-item {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 10px;
        margin: 0 3px;
        cursor: pointer;

        @media (max-width: 850px) {
          border: 2px solid #7e7e7e;
        }

        &-active {
          background-color: #b12a2f;
        }
      }
    }
  }

  img {
    width: 100%;
    height: 100%;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
</style>