<template>
  <div id="app">
    <BaseLayout>
      <!---Кеширование-->
      <KeepAlive v-if="$route.meta.keepAlive">
        <router-view/>
      </KeepAlive>
      <!--Без кеша-->
      <router-view
        v-else
      />
      <!--модалка корзины-->
      <AddToCart />
      <Loader />
      <CallBackModal />
    </BaseLayout>
  </div>
</template>
<script>

/* import components */
import BaseLayout from '@/components/layout/BaseLayout.vue'
import AddToCart from '@/components/modal/AddToCart.vue'
import Loader from '@/components/modal/Loader.vue'
import CallBackModal from '@/components/modal/CallBackModal.vue'

export default {
  inject: ['siteMapService'],
  components: {
    BaseLayout,
    AddToCart,
    Loader,
    CallBackModal
  },
  name: 'App',
  created () {
    this.$store.dispatch('categories')
  }
}
</script>